# Directorios de construcción
/target/
/bin/

# Archivos de configuración de IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos de configuración de entorno
.env
